@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700&display=swap");

body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Merriweather", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Merriweather-300 {
  font-family: "Merriweather", serif;
  font-weight: 300;
}

.Merriweather-400 {
  font-family: "Merriweather", serif;
  font-weight: 400;
}

.Merriweather-700 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}
